flow.json
[
    {
        "id": "c1aba6ca.ae591",
        "type": "tab",
        "label": "Thermostats",
        "disabled": false,
        "info": "The standard homematic thermostat does not reflect the state I want, so a mqtt one is created with the state driven by this flow."
    },
    {
        "id": "553bfbb.b5eaa84",
        "type": "tab",
        "label": "Kids",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b559dfa2.ecc5b8",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "d03b4f35.65271",
        "type": "mqtt-broker",
        "name": "Home MQTT broker",
        "broker": "mqtt.lanquarden.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "31755730.26a5f",
        "type": "mqtt out",
        "z": "c1aba6ca.ae591",
        "name": "publish to climate topics",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "broker": "d03b4f35.65271",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "e26d421a.098628",
        "type": "server-state-changed",
        "z": "c1aba6ca.ae591",
        "name": "homematic thermostats",
        "server": "b559dfa2.ecc5b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "climate.(neq1521926|neq1521913|neq1521927|neq1521928)",
        "entityidfiltertype": "regex",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "475d7662.493a38"
            ]
        ]
    },
    {
        "id": "f5663750.4953c8",
        "type": "debug",
        "z": "c1aba6ca.ae591",
        "name": "mqtt thermostat topics",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 40,
        "wires": []
    },
    {
        "id": "475d7662.493a38",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "extract info",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\ttopic & '/current_temperature/state': data.new_state.attributes.current_temperature,\ttopic & '/temperature/state': data.new_state.attributes.temperature,\ttopic & '/mode/state': data.new_state.state\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "1178acba.31a06b"
            ]
        ]
    },
    {
        "id": "1178acba.31a06b",
        "type": "split",
        "z": "c1aba6ca.ae591",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "df134607.2a9d"
            ]
        ]
    },
    {
        "id": "f140120e.c47518",
        "type": "inject",
        "z": "c1aba6ca.ae591",
        "name": "test message",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "climate.neq1411046",
        "payload": "{\"entity_id\":\"climate.neq1411046\",\"old_state\":{\"entity_id\":\"climate.neq1411046\",\"state\":\"heat\",\"attributes\":{\"test\":\"bla\",\"hvac_modes\":[\"auto\",\"heat\",\"off\"],\"min_temp\":4.5,\"max_temp\":30.5,\"target_temp_step\":0.5,\"preset_modes\":[\"boost\",\"comfort\",\"eco\"],\"current_temperature\":20.4,\"temperature\":7,\"preset_mode\":null,\"id\":\"NEQ1411046\",\"interface\":\"wireless\",\"battery\":2.6,\"rssi_peer\":-70,\"valve\":0,\"mode\":\"Manual\",\"friendly_name\":\"Valve Kitchen\",\"supported_features\":17},\"last_changed\":\"2021-02-20T20:09:54.342467+00:00\",\"last_updated\":\"2021-02-20T21:20:07.759692+00:00\",\"context\":{\"id\":\"7c52497e115eed9d553b041eb42adcb7\",\"parent_id\":null,\"user_id\":\"b94e9c8c5cc94eae87ebb1d303e3a681\"},\"original_state\":\"heat\"},\"new_state\":{\"entity_id\":\"climate.neq1411046\",\"state\":\"heat\",\"attributes\":{\"test\":\"blabla\",\"hvac_modes\":[\"auto\",\"heat\",\"off\"],\"min_temp\":4.5,\"max_temp\":30.5,\"target_temp_step\":0.5,\"preset_modes\":[\"boost\",\"comfort\",\"eco\"],\"current_temperature\":20.4,\"temperature\":7,\"preset_mode\":null,\"id\":\"NEQ1411046\",\"interface\":\"wireless\",\"battery\":2.6,\"rssi_peer\":-70,\"valve\":5,\"mode\":\"Manual\",\"friendly_name\":\"Valve Kitchen\",\"supported_features\":17},\"last_changed\":\"2021-02-20T20:09:54.342467+00:00\",\"last_updated\":\"2021-02-20T21:21:30.995123+00:00\",\"context\":{\"id\":\"4339814c324a68930bc8f9d0f5f08fb9\",\"parent_id\":null,\"user_id\":\"b94e9c8c5cc94eae87ebb1d303e3a681\"},\"original_state\":\"heat\",\"timeSinceChangedMs\":4296655}}",
        "payloadType": "json",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "bae37ebd.91729"
            ]
        ]
    },
    {
        "id": "df134607.2a9d",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "change topic",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "climate.neq1521926",
                "fromt": "str",
                "to": "living-room/climate",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "climate.neq1521913",
                "fromt": "str",
                "to": "attic/climate",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "climate.neq1521927",
                "fromt": "str",
                "to": "master-bed-room/climate",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "climate.neq1521928",
                "fromt": "str",
                "to": "kids-bed-room/climate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 100,
        "wires": [
            [
                "f5663750.4953c8",
                "31755730.26a5f"
            ]
        ]
    },
    {
        "id": "bae37ebd.91729",
        "type": "trigger-state",
        "z": "c1aba6ca.ae591",
        "name": "living room heating active",
        "server": "b559dfa2.ecc5b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "climate.(neq1411046|neq1411058|neq1411004|oeq0238491)",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "comparatorType": ">",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "new_state.attributes.valve"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 490,
        "y": 180,
        "wires": [
            [
                "1d183c99.dac5f3"
            ],
            []
        ]
    },
    {
        "id": "81fc5960.e2b4e8",
        "type": "mqtt out",
        "z": "c1aba6ca.ae591",
        "name": "publish hvac action",
        "topic": "living-room/climate/action/state",
        "qos": "1",
        "retain": "true",
        "broker": "d03b4f35.65271",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "1d183c99.dac5f3",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "set heating",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "heating",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "81fc5960.e2b4e8"
            ]
        ]
    },
    {
        "id": "324134f6.f60bf4",
        "type": "trigger-state",
        "z": "c1aba6ca.ae591",
        "name": "living room heating inactive",
        "server": "b559dfa2.ecc5b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "climate.(neq1411046|neq1411058|neq1411004|oeq0238491)",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "climate.neq1411046",
                "propertyType": "property",
                "comparatorType": "<=",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "attributes.valve"
            },
            {
                "targetType": "entity_id",
                "targetValue": "climate.neq1411058",
                "propertyType": "property",
                "comparatorType": "<=",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "attributes.valve"
            },
            {
                "targetType": "entity_id",
                "targetValue": "climate.neq1411004",
                "propertyType": "property",
                "comparatorType": "<=",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "attributes.valve"
            },
            {
                "targetType": "entity_id",
                "targetValue": "climate.oeq0238491",
                "propertyType": "property",
                "comparatorType": "<=",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "attributes.valve"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "d9736b63.82cca"
            ],
            []
        ]
    },
    {
        "id": "d9736b63.82cca",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "set idle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "81fc5960.e2b4e8"
            ]
        ]
    },
    {
        "id": "9d51512.2b7e1b",
        "type": "inject",
        "z": "c1aba6ca.ae591",
        "name": "test message",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "climate.neq1411046",
        "payload": "{\"entity_id\":\"climate.neq1411046\",\"old_state\":{\"entity_id\":\"climate.neq1411046\",\"state\":\"heat\",\"attributes\":{\"test\":\"bla\",\"hvac_modes\":[\"auto\",\"heat\",\"off\"],\"min_temp\":4.5,\"max_temp\":30.5,\"target_temp_step\":0.5,\"preset_modes\":[\"boost\",\"comfort\",\"eco\"],\"current_temperature\":20.4,\"temperature\":7,\"preset_mode\":null,\"id\":\"NEQ1411046\",\"interface\":\"wireless\",\"battery\":2.6,\"rssi_peer\":-70,\"valve\":0,\"mode\":\"Manual\",\"friendly_name\":\"Valve Kitchen\",\"supported_features\":17},\"last_changed\":\"2021-02-20T20:09:54.342467+00:00\",\"last_updated\":\"2021-02-20T21:20:07.759692+00:00\",\"context\":{\"id\":\"7c52497e115eed9d553b041eb42adcb7\",\"parent_id\":null,\"user_id\":\"b94e9c8c5cc94eae87ebb1d303e3a681\"},\"original_state\":\"heat\"},\"new_state\":{\"entity_id\":\"climate.neq1411046\",\"state\":\"heat\",\"attributes\":{\"test\":\"blabla\",\"hvac_modes\":[\"auto\",\"heat\",\"off\"],\"min_temp\":4.5,\"max_temp\":30.5,\"target_temp_step\":0.5,\"preset_modes\":[\"boost\",\"comfort\",\"eco\"],\"current_temperature\":20.4,\"temperature\":7,\"preset_mode\":null,\"id\":\"NEQ1411046\",\"interface\":\"wireless\",\"battery\":2.6,\"rssi_peer\":-70,\"valve\":5,\"mode\":\"Manual\",\"friendly_name\":\"Valve Kitchen\",\"supported_features\":17},\"last_changed\":\"2021-02-20T20:09:54.342467+00:00\",\"last_updated\":\"2021-02-20T21:21:30.995123+00:00\",\"context\":{\"id\":\"4339814c324a68930bc8f9d0f5f08fb9\",\"parent_id\":null,\"user_id\":\"b94e9c8c5cc94eae87ebb1d303e3a681\"},\"original_state\":\"heat\",\"timeSinceChangedMs\":4296655}}",
        "payloadType": "json",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "11db3f26.d113c9"
            ]
        ]
    },
    {
        "id": "11db3f26.d113c9",
        "type": "trigger-state",
        "z": "c1aba6ca.ae591",
        "name": "master bed room heating active",
        "server": "b559dfa2.ecc5b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "climate.(neq1413070|oeq0238454|neq1411004|oeq0238491)",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "comparatorType": ">",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "new_state.attributes.valve"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "dc9188f4.6244f8"
            ],
            []
        ]
    },
    {
        "id": "7b462486.d79954",
        "type": "mqtt out",
        "z": "c1aba6ca.ae591",
        "name": "publish hvac action",
        "topic": "master-bed-room/climate/action/state",
        "qos": "1",
        "retain": "true",
        "broker": "d03b4f35.65271",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "dc9188f4.6244f8",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "set heating",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "heating",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "7b462486.d79954"
            ]
        ]
    },
    {
        "id": "1d9cc45a.9f1814",
        "type": "trigger-state",
        "z": "c1aba6ca.ae591",
        "name": "master bed room heating inactive",
        "server": "b559dfa2.ecc5b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "climate.(neq1413070|oeq0238454)",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "climate.oeq0238454",
                "propertyType": "property",
                "comparatorType": "<=",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "attributes.valve"
            },
            {
                "targetType": "entity_id",
                "targetValue": "climate.neq1413070",
                "propertyType": "property",
                "comparatorType": "<=",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "attributes.valve"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "c454a3e5.2c89a8"
            ],
            []
        ]
    },
    {
        "id": "c454a3e5.2c89a8",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "set idle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 440,
        "wires": [
            [
                "7b462486.d79954"
            ]
        ]
    },
    {
        "id": "fd928dda.926b08",
        "type": "inject",
        "z": "c1aba6ca.ae591",
        "name": "test message",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "climate.neq1411046",
        "payload": "{\"entity_id\":\"climate.neq1411046\",\"old_state\":{\"entity_id\":\"climate.neq1411046\",\"state\":\"heat\",\"attributes\":{\"test\":\"bla\",\"hvac_modes\":[\"auto\",\"heat\",\"off\"],\"min_temp\":4.5,\"max_temp\":30.5,\"target_temp_step\":0.5,\"preset_modes\":[\"boost\",\"comfort\",\"eco\"],\"current_temperature\":20.4,\"temperature\":7,\"preset_mode\":null,\"id\":\"NEQ1411046\",\"interface\":\"wireless\",\"battery\":2.6,\"rssi_peer\":-70,\"valve\":0,\"mode\":\"Manual\",\"friendly_name\":\"Valve Kitchen\",\"supported_features\":17},\"last_changed\":\"2021-02-20T20:09:54.342467+00:00\",\"last_updated\":\"2021-02-20T21:20:07.759692+00:00\",\"context\":{\"id\":\"7c52497e115eed9d553b041eb42adcb7\",\"parent_id\":null,\"user_id\":\"b94e9c8c5cc94eae87ebb1d303e3a681\"},\"original_state\":\"heat\"},\"new_state\":{\"entity_id\":\"climate.neq1411046\",\"state\":\"heat\",\"attributes\":{\"test\":\"blabla\",\"hvac_modes\":[\"auto\",\"heat\",\"off\"],\"min_temp\":4.5,\"max_temp\":30.5,\"target_temp_step\":0.5,\"preset_modes\":[\"boost\",\"comfort\",\"eco\"],\"current_temperature\":20.4,\"temperature\":7,\"preset_mode\":null,\"id\":\"NEQ1411046\",\"interface\":\"wireless\",\"battery\":2.6,\"rssi_peer\":-70,\"valve\":5,\"mode\":\"Manual\",\"friendly_name\":\"Valve Kitchen\",\"supported_features\":17},\"last_changed\":\"2021-02-20T20:09:54.342467+00:00\",\"last_updated\":\"2021-02-20T21:21:30.995123+00:00\",\"context\":{\"id\":\"4339814c324a68930bc8f9d0f5f08fb9\",\"parent_id\":null,\"user_id\":\"b94e9c8c5cc94eae87ebb1d303e3a681\"},\"original_state\":\"heat\",\"timeSinceChangedMs\":4296655}}",
        "payloadType": "json",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "e15d851d.27248"
            ]
        ]
    },
    {
        "id": "e15d851d.27248",
        "type": "trigger-state",
        "z": "c1aba6ca.ae591",
        "name": "kids bed room heating active",
        "server": "b559dfa2.ecc5b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "climate.oeq0238216",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "comparatorType": ">",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "new_state.attributes.valve"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "8cc84aac.72363"
            ],
            [
                "d54f3b03.0d3858"
            ]
        ]
    },
    {
        "id": "f93a95f1.7ebfa8",
        "type": "mqtt out",
        "z": "c1aba6ca.ae591",
        "name": "publish hvac action",
        "topic": "kids-bed-room/climate/action/state",
        "qos": "1",
        "retain": "true",
        "broker": "d03b4f35.65271",
        "x": 1030,
        "y": 580,
        "wires": []
    },
    {
        "id": "8cc84aac.72363",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "set heating",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "heating",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "f93a95f1.7ebfa8"
            ]
        ]
    },
    {
        "id": "d54f3b03.0d3858",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "set idle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 620,
        "wires": [
            [
                "f93a95f1.7ebfa8"
            ]
        ]
    },
    {
        "id": "7b4776a9.5a5248",
        "type": "inject",
        "z": "c1aba6ca.ae591",
        "name": "test message",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "climate.neq1411046",
        "payload": "{\"entity_id\":\"climate.neq1411046\",\"old_state\":{\"entity_id\":\"climate.neq1411046\",\"state\":\"heat\",\"attributes\":{\"test\":\"bla\",\"hvac_modes\":[\"auto\",\"heat\",\"off\"],\"min_temp\":4.5,\"max_temp\":30.5,\"target_temp_step\":0.5,\"preset_modes\":[\"boost\",\"comfort\",\"eco\"],\"current_temperature\":20.4,\"temperature\":7,\"preset_mode\":null,\"id\":\"NEQ1411046\",\"interface\":\"wireless\",\"battery\":2.6,\"rssi_peer\":-70,\"valve\":0,\"mode\":\"Manual\",\"friendly_name\":\"Valve Kitchen\",\"supported_features\":17},\"last_changed\":\"2021-02-20T20:09:54.342467+00:00\",\"last_updated\":\"2021-02-20T21:20:07.759692+00:00\",\"context\":{\"id\":\"7c52497e115eed9d553b041eb42adcb7\",\"parent_id\":null,\"user_id\":\"b94e9c8c5cc94eae87ebb1d303e3a681\"},\"original_state\":\"heat\"},\"new_state\":{\"entity_id\":\"climate.neq1411046\",\"state\":\"heat\",\"attributes\":{\"test\":\"blabla\",\"hvac_modes\":[\"auto\",\"heat\",\"off\"],\"min_temp\":4.5,\"max_temp\":30.5,\"target_temp_step\":0.5,\"preset_modes\":[\"boost\",\"comfort\",\"eco\"],\"current_temperature\":20.4,\"temperature\":7,\"preset_mode\":null,\"id\":\"NEQ1411046\",\"interface\":\"wireless\",\"battery\":2.6,\"rssi_peer\":-70,\"valve\":5,\"mode\":\"Manual\",\"friendly_name\":\"Valve Kitchen\",\"supported_features\":17},\"last_changed\":\"2021-02-20T20:09:54.342467+00:00\",\"last_updated\":\"2021-02-20T21:21:30.995123+00:00\",\"context\":{\"id\":\"4339814c324a68930bc8f9d0f5f08fb9\",\"parent_id\":null,\"user_id\":\"b94e9c8c5cc94eae87ebb1d303e3a681\"},\"original_state\":\"heat\",\"timeSinceChangedMs\":4296655}}",
        "payloadType": "json",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "c3c29644.242e28"
            ]
        ]
    },
    {
        "id": "c3c29644.242e28",
        "type": "trigger-state",
        "z": "c1aba6ca.ae591",
        "name": "attic heating active",
        "server": "b559dfa2.ecc5b8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "climate.oeq0238497",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "comparatorType": ">",
                "comparatorValueDatatype": "num",
                "comparatorValue": "5",
                "propertyValue": "new_state.attributes.valve"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "39cbc56e.d1b8fa"
            ],
            [
                "cdc37ff9.876be"
            ]
        ]
    },
    {
        "id": "dc1b5463.547d48",
        "type": "mqtt out",
        "z": "c1aba6ca.ae591",
        "name": "publish hvac action",
        "topic": "attic/climate/action/state",
        "qos": "1",
        "retain": "true",
        "broker": "d03b4f35.65271",
        "x": 1030,
        "y": 740,
        "wires": []
    },
    {
        "id": "39cbc56e.d1b8fa",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "set heating",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "heating",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 700,
        "wires": [
            [
                "dc1b5463.547d48"
            ]
        ]
    },
    {
        "id": "cdc37ff9.876be",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "set idle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 780,
        "wires": [
            [
                "dc1b5463.547d48"
            ]
        ]
    },
    {
        "id": "5181e000.254368",
        "type": "mqtt in",
        "z": "c1aba6ca.ae591",
        "name": "set temperature",
        "topic": "+/climate/temperature/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "d03b4f35.65271",
        "x": 240,
        "y": 900,
        "wires": [
            [
                "72151c38.1e3f74"
            ]
        ]
    },
    {
        "id": "6b9dbba7.cfcfc4",
        "type": "debug",
        "z": "c1aba6ca.ae591",
        "name": "set temperature commands",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 840,
        "wires": []
    },
    {
        "id": "b76ecd41.28c788",
        "type": "api-call-service",
        "z": "c1aba6ca.ae591",
        "name": "set homematic temperature",
        "server": "b559dfa2.ecc5b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "set_temperature",
        "entityId": "",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1060,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "72151c38.1e3f74",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "construct service data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{'data': \t    {\t        'entity_id': topic,\t        'temperature': payload\t    }\t}",
                "tot": "jsonata"
            },
            {
                "t": "change",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "from": "living-room/.*",
                "fromt": "re",
                "to": "climate.neq1521926",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "from": "attic/.*",
                "fromt": "re",
                "to": "climate.neq1521913",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "from": "master-bed-room/.*",
                "fromt": "re",
                "to": "climate.neq1521927",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "from": "kids-bed-room/.*",
                "fromt": "str",
                "to": "climate.neq1521928",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 900,
        "wires": [
            [
                "6b9dbba7.cfcfc4",
                "b76ecd41.28c788"
            ]
        ]
    },
    {
        "id": "c1753235.8a6388",
        "type": "mqtt in",
        "z": "c1aba6ca.ae591",
        "name": "set mode",
        "topic": "+/climate/mode/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "d03b4f35.65271",
        "x": 220,
        "y": 1040,
        "wires": [
            [
                "1490835.1ccae7d"
            ]
        ]
    },
    {
        "id": "5b1ff96a.49122",
        "type": "debug",
        "z": "c1aba6ca.ae591",
        "name": "set mode commands",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 980,
        "wires": []
    },
    {
        "id": "aff5357f.3d481",
        "type": "api-call-service",
        "z": "c1aba6ca.ae591",
        "name": "set homematic mode",
        "server": "b559dfa2.ecc5b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "set_hvac_mode",
        "entityId": "",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1040,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "1490835.1ccae7d",
        "type": "change",
        "z": "c1aba6ca.ae591",
        "name": "construct service data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{'data': \t    {\t        'entity_id': topic,\t        'hvac_mode': payload\t    }\t}",
                "tot": "jsonata"
            },
            {
                "t": "change",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "from": "living-room/.*",
                "fromt": "re",
                "to": "climate.neq1521926",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "from": "attic/.*",
                "fromt": "re",
                "to": "climate.neq1521913",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "from": "master-bed-room/.*",
                "fromt": "re",
                "to": "climate.neq1521927",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "from": "kids-bed-room/.*",
                "fromt": "str",
                "to": "climate.neq1521928",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1040,
        "wires": [
            [
                "5b1ff96a.49122",
                "aff5357f.3d481"
            ]
        ]
    },
    {
        "id": "694b867b.20adc8",
        "type": "server-state-changed",
        "z": "553bfbb.b5eaa84",
        "name": "reward toggles",
        "server": "b559dfa2.ecc5b8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean\\.(enzo|nolan)_.*",
        "entityidfiltertype": "regex",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "414f21e0.5601a"
            ]
        ]
    },
    {
        "id": "f41f0f7a.fc4eb",
        "type": "api-call-service",
        "z": "553bfbb.b5eaa84",
        "name": "increment/decrement",
        "server": "b559dfa2.ecc5b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "counter",
        "service": "",
        "entityId": "",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1040,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "414f21e0.5601a",
        "type": "gate",
        "z": "553bfbb.b5eaa84",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "afc25dc3.bdf818"
            ]
        ]
    },
    {
        "id": "afc25dc3.bdf818",
        "type": "change",
        "z": "553bfbb.b5eaa84",
        "name": "set counter action",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t    $repititions := $contains(msg.topic, \"plus_five\") ? 5 : 0;\t    $element := function($x) {({\t        $string($x): {\t            'service': msg.payload=\"on\" ? \"increment\" : \"decrement\",\t            'data': {\t                'entity_id': $contains(msg.topic, \"enzo\") ? \"counter.enzo_robux\" : \"counter.nolan_robux\"\t                }\t            }\t    })};\t    $merge($map([0..$repititions], $element))\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "1555f232.ea9f8e"
            ]
        ]
    },
    {
        "id": "ee90b4aa.b4bd18",
        "type": "debug",
        "z": "553bfbb.b5eaa84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 40,
        "wires": []
    },
    {
        "id": "2c394c14.0ddbdc",
        "type": "inject",
        "z": "553bfbb.b5eaa84",
        "name": "trigger at midnight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "close",
        "payloadType": "str",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "414f21e0.5601a",
                "f5676d4b.5d2c"
            ]
        ]
    },
    {
        "id": "f5676d4b.5d2c",
        "type": "delay",
        "z": "553bfbb.b5eaa84",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "64685608.232ca"
            ]
        ]
    },
    {
        "id": "64685608.232ca",
        "type": "change",
        "z": "553bfbb.b5eaa84",
        "name": "create switch off commands",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"enzo_shoes\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.enzo_shoes\"}},\"enzo_clothes\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.enzo_clothes\"}},\"enzo_devices\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.enzo_devices\"}},\"enzo_dinner\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.enzo_dinner\"}},\"enzo_teethbrushing\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.enzo_toothbrush\"}},\"enzo_plus_five\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.enzo_plus_five\"}},\"nolan_shoes\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.nolan_shoes\"}},\"nolan_clothes\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.nolan_clothes\"}},\"nolan_devices\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.nolan_devices\"}},\"nolan_dinner\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.nolan_dinner\"}},\"nolan_teethbrushing\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.nolan_toothbrush\"}},\"nolan_plus_five\":{\"service\":\"turn_off\",\"data\":{\"entity_id\":\"input_boolean.nolan_plus_five\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "d92b09f3.964bb8",
                "e63405fb.40889"
            ]
        ]
    },
    {
        "id": "d92b09f3.964bb8",
        "type": "split",
        "z": "553bfbb.b5eaa84",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "6ef17aed.bd450c"
            ]
        ]
    },
    {
        "id": "6ef17aed.bd450c",
        "type": "api-call-service",
        "z": "553bfbb.b5eaa84",
        "name": "switch off",
        "server": "b559dfa2.ecc5b8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "",
        "entityId": "",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1120,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b23cd75f.da13",
        "type": "delay",
        "z": "553bfbb.b5eaa84",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1120,
        "y": 200,
        "wires": [
            [
                "414f21e0.5601a"
            ]
        ]
    },
    {
        "id": "e63405fb.40889",
        "type": "change",
        "z": "553bfbb.b5eaa84",
        "name": "open gate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "b23cd75f.da13"
            ]
        ]
    },
    {
        "id": "1555f232.ea9f8e",
        "type": "split",
        "z": "553bfbb.b5eaa84",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "ee90b4aa.b4bd18",
                "f41f0f7a.fc4eb"
            ]
        ]
    }
]